mat-grid-list{
    margin : 1% 3% 0px 3%;
}
mat-grid-tile{
    background-color: aqua;
}
mat-card{
    background-color:rgb(252, 190, 90);
    width: 100%;
}
.card_num{
    font-size: large;
    font-weight: 500;
}
mat-icon{
    color:maroon;
}
