
.container{
    max-width: 100%;
}
.mat-toolbar{
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: gainsboro;;
}
.mat-card-content{
    width: 90%;
    margin: auto;
}